.screen3h h1{
font-weight: 700;
}

.screen3-para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.screen3-para p{
    color: rgb(137, 137, 137);
}
.logo3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   max-height: 50vh;
}
.screen3-para2{
    margin-top: -2rem;
    margin-bottom: 2rem;
}
.screen3-para2 p{
    color: rgb(121, 121, 121);
    font-weight: 600;
}

.screen3-para3 p{
  font-weight: lighter;
  font-size: small;
  color: rgb(137, 137, 137);
}
.btn-screen3{
    background-color: rgb(244, 200, 111);
    justify-content: center;
    display: flex;
    width: 60%;
    padding-top: 0.625rem;
    gap: 0.25rem;
    padding-bottom: 0.625rem;
    border-radius: 1.6rem;
    gap: 1;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    border: white;
    margin-top: -14px;
}

@media screen and (max-width: 768px) {
    .btn-screen3 {
        width: 80%; /* Adjusted width for smaller screens */
    }
    .screen3-para{
     flex-wrap: wrap;
     display: flex;
     flex-direction: column;
    }
    
}
@media screen and (max-width: 354px){
    .screen3h h1{
       text-align: center;
      }
      .screen3-para{
        text-align: center;
       }
}